$interface-gray: #A0AEC0;
$interface-dark-gray: #002337;
$interface-blue: #405A69;
$interface-light-black: #231F20;
$interface-pink: #F23985;
$interface-green: #00261C;
$interface-black-light: #1C1D21;










